* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  margin: 10px 0;
  text-align: center;
}
.container {
  width: 90vw;
  max-width: 960px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.svg-container {
  flex: 30%;
  position: relative;
  margin-right: 3px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

.found{
  border:4px solid red;  
}
.svg {
  position: absolute;
  top: 0;
  left: 0;
}

.sign {
  opacity: 0;
}
.dog {
  transform-origin: center;
  transform-box: fill-box;
  animation: dog 3s linear 1 forwards;
  transform: rotateY(-360deg);
}
@keyframes dog {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(-150%) skewX(10deg) scale(2);
  }
  100% {
    transform: translateX(-250%) skew(-10deg) scale(1.5);
  }
}
.front-outer,
.front-inner,
.back-inner,
.back-outer {
  transform-origin: top;
  transform-box: fill-box;
  animation: walk 1s linear infinite;
}
@keyframes walk {
  from {
    transform: rotateZ(20deg);
  }
  to {
    transform: rotateZ(-20deg);
  }
}
.front-inner {
  animation-delay: 0.2s;
}
.back-inner {
  animation-delay: 0.4s;
}
.back-outer {
  animation-delay: 0.2s;
}
/* svg1 */
.watermill {
  transform-origin: center;
  transform-box: fill-box;
  animation: watermill 1.5s linear infinite;
}

@keyframes watermill {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
/* svg2 */
.monk {
  transform-origin: top;
  transform-box: fill-box;
  animation: monk 3s 1 forwards;
}
@keyframes monk {
  from {
    transform: translate(250%, -180%) scale(0.5);
  }
  to {
    transform: translate(50%, -50%) scale(1.5);
  }
}
.left-lower-arm {
  transform-origin: top;
  transform-box: fill-box;
  animation: monk-arm 3s ease-in 1;
}
@keyframes monk-arm {
  from {
    transform: rotateZ(-50deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

.right-leg {
  transform-origin: top;
  transform-box: fill-box;
  animation: leg 3s linear 1;
}
@keyframes leg {
  0% {
    transform: rotateX(80deg) rotateZ(30deg);
  }
  60% {
    transform: rotateX(0deg);
  }
}

/* svg3 */
.eagle {
  animation: eagle 3.5s ease-in-out 1 forwards;
}
@keyframes eagle {
  from {
    transform: rotateX(70deg);
  }
  to {
    transform: skewX(30deg) scale(3) translate(-3200%, 700%);
  }
}

/* svg4 */
.fish {
  transform-origin: center;
  transform-box: fill-box;
  animation: fish 3s ease-out infinite;
}
@keyframes fish {
  to {
    transform: rotateZ(360deg) translateY(-80%);
  }
}
.splashes {
  animation: splashes 3s ease-in infinite;
}
@keyframes splashes {
  to {
    opacity: 0.7;
    transform: rotateZ(360deg);
  }
}
/* svg5 */
.left-window {
  transform-origin: left;
  transform-box: fill-box;
  animation: left-window 2s ease-in-out forwards;
}
@keyframes left-window {
  to {
    transform: rotateY(180deg);
  }
}
.right-window {
  transform-origin: right;
  transform-box: fill-box;
  animation: right-window 2s ease-in-out forwards;
}
@keyframes right-window {
  to {
    transform: rotateY(-180deg);
  }
}
.house5 {
  transform-origin: center;
  transform: scale(2.1);
}
/* svg6 */
#smoke {
  animation: smoke 3s ease-in-out infinite forwards;
}
@keyframes smoke {
  to {
    opacity: 0.5;
    transform: translateY(-30%);
  }
}
.house6 {
  transform-origin: center;
  transform: scale(2.5);
}
.door {
  transform-origin: left;
  transform-box: fill-box;
  animation: door 2s ease-in-out 1 forwards;
}
@keyframes door {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}
/* svg7 */
.tree-move {
  transform-origin: top;
  transform-box: fill-box;
  animation: tree 6s linear infinite;
}
@keyframes tree {
  0% {
    transform: rotateZ(0deg);
  }

  50% {
    transform: rotateZ(-15deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
#tree-two {
  animation-delay: 0.4s;
}
#tree-three {
  animation-delay: 0.6s;
}

#tree-four {
  animation-delay: 0.8s;
}
#tree-five {
  animation-delay: 1s;
}
#tree-six {
  animation-delay: 1.2s;
}
#tree-seven {
  animation-delay: 1.5s;
}
/* svg8 */
.ducks {
  transform-origin: center;
  transform-box: fill-box;
  animation: ducks 3.5s ease-in-out infinite forwards;
}
@keyframes ducks {
  25% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(-90deg);
  }
  90% {
    transform: rotateZ(-30deg);
  }
  90% {
    transform: rotateZ(0deg);
  }
}
#duck-two {
  animation-delay: 1s;
}
.duck {
  transform-origin: center;
  transform-box: fill-box;
  animation: duck 3s ease-in-out infinite forwards;
}
@keyframes duck {
  25% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(90deg);
  }
  90% {
    transform: rotateZ(30deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.upper-feet,
.lower-feet {
  transform-origin: left;
  transform-box: fill-box;
  animation: foot 0.5s ease-in-out infinite;
}
.lower-feet {
  animation-delay: 0.25s;
}
@keyframes foot {
  25% {
    transform: rotateZ(0deg) skew(10deg, 10deg);
  }
  50% {
    transform: rotateZ(30deg) skew(30deg, 10deg);
  }
  90% {
    transform: rotateZ(15deg) skew(20deg, -40deg);
  }
  100% {
    transform: rotateZ(0deg) skew(-10deg, 10deg);
  }
}
/* svg9 */
.pavilion {
  transform-origin: bottom;
  transform: scale(2.1);
}
.head {
  transform-origin: bottom;
  transform-box: fill-box;
  animation: head 3.5s ease-in-out infinite forwards;
}
@keyframes head {
  0% {
    transform: rotateZ(5deg);
  }
  30% {
    transform: rotateZ(20deg);
  }
  60% {
    transform: rotateZ(-19deg);
  }
  100% {
    transform: rotateZ(-5deg);
  }
}

.left-arm {
  transform-origin: left;
  transform-box: fill-box;
  animation: left-arm 3.5s ease-in-out infinite forwards;
}
@keyframes left-arm {
  0% {
    transform: rotateZ(5deg);
  }
  30% {
    transform: rotateZ(10deg);
  }
  60% {
    transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(-5deg);
  }
}
